/* Circle things */

.circle {
    content: '';
    background-color: var(--background);
    border: var(--primary) 4px solid;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 3;
}

.small-circle {
    background-color: var(--background);
    border: solid var(--primary) 4px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: absolute;
    content: '';
}

/* Diagonal things */

.angle-tr::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 20px 0 0 20px;
    border-style: solid;
    border-color: var(--primary) transparent;
}

.angle-tr:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 14px 0 0 14px;
    border-style: solid;
    border-color: var(--background) transparent;
}

.angle-br::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 20px 20px 0 0;
    border-style: solid;
    border-color: transparent var(--primary);
}

.angle-br:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 14px 14px 0 0;
    border-style: solid;
    border-color: transparent var(--background);
}

.angle-tl::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 0 20px 20px;
    border-style: solid;
    border-color: transparent var(--primary);
}

.angle-tl:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 0 14px 14px;
    border-style: solid;
    border-color: transparent var(--background);
}

.v-shape:before {
    z-index: 4;
    content: "";
    position: absolute;
    top: 0;
    right: -22px;
    border-width: 20px;
    border-style: solid;
    border-color: var(--primary) transparent transparent transparent;
}

.v-shape:after {
    z-index: 4;
    content: "";
    position: absolute;
    top: -6px;
    right: -22px;
    border-width: 20px;
    border-style: solid;
    border-color: var(--background) transparent transparent transparent;
}

/* Markdown styling */
code {
    background-color: #0D1117;
    color: #71bdfc;
    border-radius: 4px;
    padding: 2px 5px;
}

blockquote {
    border-left: 3px var(--primary) solid;
    padding-left: 10px;
    margin: 10px 0 10px 20px;
    position: relative;
    background-color: var(--accent);
    width: fit-content;
    padding: 10px 15px;
}

blockquote::before {
    background-color: var(--background);
    border: solid var(--primary) 3px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: -8px;
    content: '';
}

blockquote::after {
    background-color: var(--background);
    border: solid var(--primary) 3px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    position: absolute;
    bottom: -7px;
    left: -8px;
    content: '';
}

table,
th,
tr,
td {
    margin: 5px;
    border-collapse: collapse;
    border: solid 2px;
    padding: 5px;
}

.task-list-item {
    list-style-type: none;
    margin-left: -20px;
}

mark {
    background: var(--primary);
    color: var(--text);
}

a {
    color: var(--link);
}

a:visited {
    color: var(--secondary);
}

input[type=checkbox][disabled] {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--background);
    border: 3px solid var(--primary);
    padding: 6px;
    margin: 1px 6px 0 0;
    border-radius: 6px;
    display: inline-block;
    position: relative;
}

input[type=checkbox][disabled]:checked {
    background-color: var(--secondary);
}