:root {
    --background: #1A1A1B;
    --blue-border: #7DFDFE;
    --blue-background: #7dfefe8c;
    --blue-border-alt: #22AFCA;
    --orange-border: #FF831F;
    --text: rgb(208, 208, 208);
}

body {
    background-color: var(--background);
}

h2 {
    font-weight: 400;
    font-size: 30px;
    position: relative;
}

.button-fancy {
    cursor: pointer;
	border: 2px var(--blue-border) solid;
	padding: 10px 15px;
	border-radius: 4px;
	background-color: var(--background);
	color: var(--text);
	transition: all 0.4s;
}

.button-fancy:hover {
	color: var(--blue-border);
    box-shadow: 0 0 20px 0 var(--blue-border);
}