/*:root {
    --background: #040205;
    --accent: #ff5a43;
    --accent-hover: rgba(255, 90, 67, 0.39);
    --primary: #801414;
    --text: rgb(208, 208, 208);
}*/

:root {
    --background: #1a1a1b;
    --primary: #881010;
    --secondary: rgb(131, 51, 51);
    --accent: rgb(79, 39, 39);
    --acent: #b90018;
    --text: rgb(208, 208, 208);
}


html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: var(--background);
}

p {
    font-size: 20px;
    font-weight: 400;
}

h3 {
    font-size: 30px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}